/* reset page */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* creando variables de colores */
:root {
  --colorRed: #e60023;
  --colorWhite: #ffffff;
  --colorBlack: #111111;
  --colorGrayLight: #e9e9e9;
  --colorGrayDark: #5f5f5f;
}

/* creando fuentes para aplicar */

@font-face {
  font-family: pinterestRegular;
  src: url(./assets/fonts/NHaasGroteskTXPro-55Rg.ttf);
}
@font-face {
  font-family: pinterestMedium;
  src: url(./assets/fonts/NHaasGroteskTXPro-65Md.ttf);
}
@font-face {
  font-family: pinterestBold;
  src: url(./assets/fonts/NHaasGroteskTXPro-75Bd.ttf);
}

/* validando la funcionabilidad de la fuente y el color */
/* .navbar ul li a {
  color: var(--colorRed);
  font-family: "pinterest1";
} */

body {
  width: 100%;
  height: 100%;
}

/* styles navbar */

.navbar {
  width: 100%;
  height: 80px;
  padding: 4px 1rem 4px 1rem;
  position: fixed;
  background-color: var(--colorWhite);
  display: flex;
  align-items: center;
  z-index: 9;
}

.navbar-container {
  width: 100%;
  height: 48px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
}

/* estilos del ul */
.navbar ul {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.navbar .content-logo ul li {
  height: 48px;
  padding: 0 1rem 0 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--colorBlack);
  font-family: pinterestRegular;
  font-size: 1rem;
}

.navbar ul .navbar-logo i {
  font-size: 1.5rem;
}

.navbar ul .navbar-box {
  background-color: var(--colorBlack);
  border-radius: 30px;
}

.navbar ul .navbar-box a {
  color: var(--colorWhite);
}

.navbar ul .navbar-crear a {
  display: flex;
  gap: 10px;
}

/* estilo del search */
.search {
  background-color: var(--colorGrayLight);
  border-radius: 40px;
  width: 100%;
  /* height: 40px; */
  /* padding: 5px 10px 5px 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px 0 8px;
}

.search label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search span {
  padding: 0 0 0 1rem;
}

.search input {
  margin-left: 10px;
  width: 100%;
  height: 48px;
  border: none;
  background-color: transparent;
  outline: 0;
}

/* estilos del contenido de usuario */

.navbar .content-user {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.navbar .content-user ul li {
  height: 48px;
  padding: 0 1rem 0 1rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .content-user ul li .fas {
  font-size: 1.5rem;
  color: var(--colorGrayDark);
}

.navbar .content-user .user .avatar img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* estilos contenedor main */

/* .container {
  padding-top: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-template-rows: auto;
  justify-content: center;

  column-gap: 10px;
  row-gap: 10px;
} */

/* .container > section {
  width: 100%;

  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;

  border-radius: 20px;

} */

/* .container > section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  z-index: 1;
}

.container > section .color {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #11111188;
  opacity: 0;
} */
/* 
.container > section .color:hover {
  opacity: 1;
  z-index: 3;
  color: white;
}
*/

.container > .card-verysmall {
  grid-row-end: span 26;
}

.container > .card-small {
  grid-row-end: span 33;
}
.container > .card-medium {
  grid-row-end: span 40;
}

.container {
  background-color: var(--colorWhite);
  display: grid;
  grid-template-columns: repeat(auto-fill, 236px);
  grid-template-rows: auto-fill;
  /* align-items: start; */
  /* column-count: 5; */

  /* column-gap: 5px;
  row-gap: 5px; */
  margin: 0 auto;
  grid-gap: 10px;
  row-gap: 10px;
  /* max-width: 756px; */
  width: 100%;
  height: 100%;
  padding: 80px;
  justify-content: center;
}

section {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  /* width: 236px; */
  width: 100%;
}

section img {
  height: 100%;
  display: flex;
  width: 100%;
  cursor: zoom-in;
  border-radius: 16px;
  object-fit: cover;
}
